{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Google tag (gtag.js) -->
     <script async src="https://www.googletagmanager.com/gtag/js?id=G-XZNNVRTSX5"></script>
     <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
 
     gtag('config', 'G-XZNNVRTSX5');
     </script>
    
      <link rel="icon" type="image/x-icon" href="{% static 'Base/images/favcon.ico' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="{% static 'Base/css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'Base/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'Base/css/article.cs' %}s">
    <script src="{% static '/Base/js/nav.js' %}" defer ></script>
    <title>Article</title>

    <!-- Adsterra Ad -->
	<script>document.write(atob("PHNjcmlwdCB0eXBlPSd0ZXh0L2phdmFzY3JpcHQnIHNyYz0nLy9zd29yZGJsb2F0Z3Jhbm55LmNvbS9iOS9mZi9jMC9iOWZmYzA4NGQzNWE4NTFkOGFmNDFkNTYxZmZhOTUxOS5qcyc+PC9zY3JpcHQ+"));</script>

</head>
<body>
    <script type="text/javascript">
		var uid = '472286';
		var wid = '711096';
		var pop_tag = document.createElement('script');pop_tag.src='//cdn.popcash.net/show.js';document.body.appendChild(pop_tag);
		pop_tag.onerror = function() {pop_tag = document.createElement('script');pop_tag.src='//cdn2.popcash.net/show.js';document.body.appendChild(pop_tag)};
	 </script>
    <div class="container">
        <nav id="site-header">
            <div>
                <a href="{% url 'home' %}">
                    <img src="{% static 'Base/images/logo.png' %}" alt="">
                </a>
                
            </div>
            <div class="links">
                <a href="{% url 'tech' %}">Tech</a>
                <a href="{% url 'programming' %}">Programming</a>
                <a href="{% url 'cyber' %}">Cyber</a>
            </div>
        </nav>
    
        <main>
            <div class="article">
               
                <div class="">
                    <h1>{{article.title}}</h1>
                    <p>{{article.created|timesince}} ago</p>
                </div>


                <div class="post">
                    {{article.article|safe}}
                </div>
                
               
                <div class="similar mobile">
                    <div>
                        <h1>Similar</h1>
                    
                    </div>
    
                    <div class="content-container">
                        {% for similar_article in similar_articles %}
                        <div class="content">
                            <div class="img-container">
                                <img src="{{ similar_article.thumbnail.url }}"  alt="">
                            </div>
                            <div>
                                <p>{{similar_article.title}}</p>
                            </div>
                        </div>
                        {% endfor %}
        
                        
                    </div>
    
                    
                </div>
                
            </div>
            <div class="sidebar">
                <div>
                    <h1>Similar</h1>
                </div>
               
                <div class="side-articles">
                    {% for article in similar_articles %}
                    <div class="side-artcontainer">
                        <div class="side-article">
                            <div class="img-container">
                                <a href="{% url 'article' article.pk %}">
                                    <img src="{{ article.thumbnail.url }}" alt="">
                                </a>
                                
                            </div>
                            
                        </div>
                        <div><p>{{article.title}}</p></div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </main>
        
        <!-- <footer>
            <div>
                <div></div>
                <img src="{% static 'Base/Images/insta.webp' %}" alt="">
                <img src="{% static 'Base/Images/fb.webp' %}" alt="">
                <img src="{% static 'Base/Images/tiktok.webp' %}" alt="">
                <img src="{% static 'Base/Images/yt.webp' %}" alt="">
            </div>
    
            <div>
                <p></p>
            </div>
            
        </footer> -->
    </div>
    

  


</body>
</html>