{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="{% static 'Base/css/carousel.css' %}">
	<link rel="stylesheet" href="{% static 'Base/css/footer.css' %}">
	<link rel="stylesheet" href="{% static 'Base/css/glitch.css' %}">
	<link rel="stylesheet" href="{% static 'Base/css/nav.css' %}">
	<link rel="stylesheet" href="{% static 'Base/css/index.css' %}">
	<script src="{% static 'Base/JS/carousel.js' %}" defer></script>
	<script src="{% static 'Base/JS/nav.js' %}" defer></script>
	<title>The Script</title>
	
	
</head>

<body>
	<!-- <audio id="backgroundAudio" src="static/Audio/main.mp3"></audio> -->
	<nav id="site-header">
        <div>
            <img src="{% static 'Base/images/logo.png' %}" alt="">
        </div>
        <div class="links">
            <!-- <a href="#categories">categories</a> -->
            <!-- <a href="#categories">services</a>
            <a href="#categories">about</a> -->
			<a href="{% url 'tech' %}">Tech</a>
			<a href="{% url 'programming' %}">Programming</a>
			<a href="{% url 'cyber' %}">Cyber</a>
        </div>
    </nav>

	<div class="main mobile">

		

		<div class="container">
			<div class="category">
				<div>
					<h1>Newest</h1>
				</div>

				<!-- <div>
					<button class="btn">more</button>
				</div> -->
				
			</div>

			<div class="articles">
				{% for article in mobile_new %}
				<div class="art-container">
					<div class="article">
						<a href="{% url 'article' article.pk %}">
							<img src="{{ article.thumbnail.url }}" alt="">
						</a>	
					</div>
					<p class="category">{{article.category}}</p>
					<p>{{article.created|timesince}} ago</p>
					
					<h1>
						{{article.title}}
					</h1>
				</div>
				{%endfor%}
				
				
				
				
			</div>
			
		
			
		</div>

		<!-- ===== Popular Categories ====== -->

		<!-- <div class="container">
			<div class="category">
				<div>
					<h1>Popular</h1>
				</div>
			</div>

			<div class="articles">
				{% for article in popular_articles %}
				<div class="art-container">
					<div class="article">
					
						<a href="{% url 'article' article.pk %}">
							<img src="{{ article.thumbnail.url }}" alt="">
						</a>
					</div>
					<div>
						<p class="category">{{article.category}}</p>
						<p>{{article.created|timesince}} ago</p>
					</div>
					<div>
							
						<h1>
							{{article.title}}
						</h1>
					</div>
				
				</div>
				{%endfor%}
				
				
			</div>
			
		
			
		</div> -->

		<div class="container">
			<div class="category">
				<div>
					<h1>Programming</h1>
				</div>

				
				
			</div>

			<div class="articles">
				{% for article in mobile_programming %}
				<div class="art-container">
					<div class="article">
						<a href="{% url 'article' article.pk %}">
							<img src="{{ article.thumbnail.url }}" alt="">
						</a>
					</div>
					<div>
						
						<p>{{article.created|timesince}} ago</p>
					</div>
					<div>
						<h1>
							{{article.title}}
						</h1>
					</div>
					
				</div>
				{%endfor%}

				
				
			</div>

			<div>
				<a href="{% url 'programming' %}">
					<button class="btn">more</button>
				</a>
				
			</div>
			
		
			
		</div>

		<div class="container">
			<div class="category">
				<div>
					<h1>Tech</h1>
				</div>

				
				
			</div>

			<div class="articles">
				{% for article in mobile_tech %}
				<div class="art-container">
					<div class="article">
					
						<a href="{% url 'article' article.pk %}">
							<img src="{{ article.thumbnail.url }}" alt="">
						</a>
					</div>
					<p>{{article.created|timesince}}ago</p>
					<h1>
						{{article.title}}
					</h1>
				</div>
				{% endfor %}
				
				
			</div>
			
			<div>
				<a href="{% url 'tech' %}"></a>
				<button class="btn">more</button>
			</div>
			
		</div>

		<div class="container">
			<div class="category">
				<div>
					<h1>Cyber</h1>
				</div>

				
				
			</div>

			<div class="articles">
				{% for article in mobile_cyber %}
				<div class="art-container">
					<div class="article">
					
						<a href="{% url 'article' article.pk %}">
							<img src="{{ article.thumbnail.url }}" alt="">
						</a>
					</div>
					<p>{{article.created|timesince}} ago</p>
					<h1>
						{{article.title}}
					</h1>
				</div>
				{% endfor %}
				
			</div>
			
			<div>
				<a href="{% url 'cyber' %}">
					<button class="btn">more</button>
				</a>
			
			</div>
			
		</div>
		
		 
	</div>

	<div class="main desktop ">
		<div class="container">
			<div class="category">
				<div>
					<h1>Newest</h1>
				</div>

				<!-- <div>
					<button class="btn">more</button>
				</div> -->
				
			</div>

			<div class="articles">
				{% for article in new_articles %}
				<div class="art-container">
					<div class="article">
						<a href="{% url 'article' article.pk %}">
							<img src="{{ article.thumbnail.url }}" alt="">
						</a>	
					</div>
					<p class="category">{{article.category}}</p>
					<p>{{article.created|timesince}} ago</p>
					
					<h1>
						{{article.title}}
					</h1>
				</div>
				{%endfor%}
				
				
				
				
			</div>
			
		
			
		</div>

		<!-- ===== Popular Categories ====== -->

		<!-- <div class="container">
			<div class="category">
				<div>
					<h1>Popular</h1>
				</div>
			</div>

			<div class="articles">
				{% for article in popular_articles %}
				<div class="art-container">
					<div class="article">
					
						<a href="{% url 'article' article.pk %}">
							<img src="{{ article.thumbnail.url }}" alt="">
						</a>
					</div>
					<div>
						<p class="category">{{article.category}}</p>
						<p>{{article.created|timesince}} ago</p>
					</div>
					<div>
							
						<h1>
							{{article.title}}
						</h1>
					</div>
				
				</div>
				{%endfor%}
				
				
			</div>
			
		
			
		</div> -->

		<div class="container">
			<div class="category">
				<div>
					<h1>Programming</h1>
				</div>

				<div>
					<a href="{% url 'programming' %}">
						<button class="btn">more</button>
					</a>
					
				</div>
				
			</div>

			<div class="articles">
				{% for article in programming_articles %}
				<div class="art-container">
					<div class="article">
						<a href="{% url 'article' article.pk %}">
							<img src="{{ article.thumbnail.url }}" alt="">
						</a>
					</div>
					<div>
						
						<p>{{article.created|timesince}} ago</p>
					</div>
					<div>
						<h1>
							{{article.title}}
						</h1>
					</div>
					
				</div>
				{%endfor%}

				
				
			</div>
			
		
			
		</div>

		<div class="container">
			<div class="category">
				<div>
					<h1>Tech</h1>
				</div>

				<div>
					<a href="{%  url 'tech' %}">
						<button class="btn">more</button>
					</a>
					
				</div>
				
			</div>

			<div class="articles">
				{% for article in tech_articles %}
				<div class="art-container">
					<div class="article">
					
						<a href="{% url 'article' article.pk %}">
							<img src="{{ article.thumbnail.url }}" alt="">
						</a>
					</div>
					<p>{{article.created|timesince}}ago</p>
					<h1>
						{{article.title}}
					</h1>
				</div>
				{% endfor %}
				
				
			</div>
			
		
			
		</div>

		<div class="container">
			<div class="category">
				<div>
					<h1>Cyber</h1>
				</div>

				<div>
					<a href="{% url 'cyber' %}">
						<button class="btn">more</button>
					</a>
					
				</div>
				
			</div>

			<div class="articles">
				{% for article in cyber_articles %}
				<div class="art-container">
					<div class="article">
					
						<a href="{% url 'article' article.pk %}">
							<img src="{{ article.thumbnail.url }}" alt="">
						</a>
					</div>
					<p>{{article.created|timesince}} ago</p>
					<h1>
						{{article.title}}
					</h1>
				</div>
				{% endfor %}
				
			</div>
			
		
			
		</div>
	</div>
		

	<footer>
		<div>
			<div></div>
			<img src="{% static 'Base/images/insta.webp' %}" alt="">
			<img src="{% static 'Base/images/fb.webp'  %}" alt="">
			<img src="{% static 'Base/images/tiktok.webp' %}" alt="">
			<img src="{% static 'Base/images/yt.webp'  %}" alt="">
		</div>

		<div>
			<p></p>
		</div>
		
	</footer>
	

</body>
</html>