{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-XZNNVRTSX5"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-XZNNVRTSX5');
	</script>
	
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Google tag (gtag.js) -->

    <title>programming</title>
  
    <link rel="stylesheet" href="{% static 'Base/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'Base/css/glitch.css' %}">
	<link rel="stylesheet" href="{% static 'Base/css/nav.css' %}">  
    <link rel="stylesheet" href="{% static 'Base/css/style.css' %}">

    <script src="{% static 'Base/js/nav.js' %}" defer></script>

	
	
</head>
<body>
	
	 
    <nav id="site-header">
        <div>
            <a href="{% url 'home' %}">
                <img src="{% static 'Base/images/logo.png' %}" alt="">
            </a>
           
        </div>
        <div class="links">
            <!-- <a href="#categories">categories</a> -->
            <!-- <a href="#categories">services</a>
            <a href="#categories">about</a> -->
			<a href="{% url 'tech' %}">Tech</a>
			
			<a href="{% url 'cyber' %}">Cyber</a>
        </div>
    </nav>

    <div class="main desktop"/>
	
		
		
        <div class="container">
			<div class="category">
				<div>
					<h1>Programming</h1>
				</div>
				
				
				
			</div>

			<div class="articles">
				{% for article in  programming_articles %}
				<div class="art-container">
					<div class="article">
						<a href="{% url 'article' article.pk %}">
							<img src="{{article.thumbnail.url}}" alt="">
						</a>
					
						
					</div>
					<p>{{article.created|timesince}} ago</p>
					<a href="{% url 'article' article.pk %}">
						<h1>
							{{article.title}}
						</h1>
					</a>
				</div>	
				{% endfor %}
			</div>
		</div>
    </div>

    <!-- <footer>
		<div>
			<div></div>
			<img src="{% static 'Base/Images/insta.webp' %}" alt="">
			<img src="{% static 'Base/Images/fb.webp' %}" alt="">
			<img src="{% static 'Base/Images/tiktok.webp' %}" alt="">
			<img src="{% static 'Base/Images/yt.webp' %}" alt="">
		</div>

		<div>
			<p></p>
		</div>
		
	</footer> -->
</body>
</html>