{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-XZNNVRTSX5"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-XZNNVRTSX5');
	</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <title>Tech</title>
  
    <link rel="stylesheet" href="{% static 'Base/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'Base/css/glitch.css' %}">
	<link rel="stylesheet" href="{% static 'Base/css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'Base/css/style.css' %}">

    <script src="{% static 'Base/js/nav.js' %}" defer></script>
</head>
<body>
	<script type="text/javascript">
		var uid = '472286';
		var wid = '711096';
		var pop_tag = document.createElement('script');pop_tag.src='//cdn.popcash.net/show.js';document.body.appendChild(pop_tag);
		pop_tag.onerror = function() {pop_tag = document.createElement('script');pop_tag.src='//cdn2.popcash.net/show.js';document.body.appendChild(pop_tag)};
	 </script>
	 
    <nav id="site-header">
        <div>
			<a href="{% url 'home' %}">
				<img src="{% static 'Base/images/logo.png' %}" alt="">
			</a>
           
        </div>
        <div class="links">
            <!-- <a href="#categories">categories</a> -->
            <!-- <a href="#categories">services</a>
            <a href="#categories">about</a> -->
			<!-- <a href="">Tech</a> -->
			<a href="{% url 'programming' %}">Programming</a>
			<a href="{% url 'cyber' %}">Cyber</a>
        </div>
    </nav>

    <div class="main desktop"/>
        <div class="container">
			<div class="category">
				<div>
					<h1>Newest</h1>
				</div>

				
				
			</div>

			<div class="articles">
				<div class="art-container">
					{% for article in tech_articles %}
					<div class="article">
						<a href="{% url 'article' article.pk %}">
							<img src="{{article.thumbnail.url}}" alt="">
						</a>
						
					</div>
					<p>{{article.created|timesince}} ago</p>
					<h1>
						{{article.title}}
					</h1>
					{% endfor %}
				</div>

				
				
			</div>
			
		
			
		</div>
    </div>

    <!-- <footer>
		<div>
			<div></div>
			<img src="{% static 'Base/Images/insta.webp' %}" alt="">
			<img src="{% static 'Base/Images/fb.webp' %}" alt="">
			<img src="{% static 'Base/Images/tiktok.webp' %}" alt="">
			<img src="{% static 'Base/Images/yt.webp' %}" alt="">
		</div>

		<div>
			<p></p>
		</div>
		
	</footer> -->
</body>
</html>