a {
    text-decoration: none;
    
}

a:hover{
    text-decoration: none;
    color: rgba(243, 39, 39, 0.904);
  }

nav {
    background-color: rgba(255, 0, 0, 0); /* Initially transparent */
    transition: background-color 0.3s ease;
    z-index: 3;
    top: 0;
    position: fixed;
    height: calc(4vh + 4vw);
    width: 100%;
    padding-left: calc(1vh + 1vw);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav a{
    color: white;
  }
  
  nav img {
      width: calc(5vh + 5vw);
  }
  
  nav .links {
      display: flex;
      gap: calc(1vh + 1vw);
      padding: calc(2vh + 2vw);
      font-size: calc(1vh + 1vw);
  }